@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;700&display=swap');

html,
body {
    margin: 0px;
    padding: 0px;
}

html {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: radial-gradient(134.34% 134.34% at 50% 0%, #1F3757 0%, #131537 100%);
    height: 100vh;
    width: 100vw;
    max-width: 375px;
    color: white;
}

.score-area {
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.2895);
    border-radius: 5px;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 2rem;
    padding: 1rem;
}

.logo {
    /* width: 5rem; */
}

.score-box {
    background: linear-gradient(0deg, #F3F3F3, white);
    width: 5rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.score-title {
    font-size: 0.8rem;
    color: #2A45C2;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;


    text-align: center;
    letter-spacing: 1.5625px;
}

.score-value {
    font-size: 2rem;
    font-weight: bolder;
    color: #565468;
}

#main-screen {
    width: 80%;
}



#screen-1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#screen-1 .paper-position {
    position: absolute;
    z-index: 2;
    top: -50px;
    left: -5px;
}

#screen-1 .rock-position {
    position: absolute;
    z-index: 2;
    bottom: -50px;
}

#screen-1 .scissor-position {
    position: absolute;
    z-index: 2;
    top: -50px;
    right: -5px;
}

#screen-1 .triangle-position {
    position: relative;
    z-index: 1;

}

.rules-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.show-rules-btn {
    border: 1px solid white;
    border-radius: 8px;
    background-color: transparent;
    width: 128px;
    height: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 2.5px;
    color: white;
    font-weight: bolder;
}

.show-rules-btn:hover {
    color: #3B4262;
    background-color: white;
}

#screen-2 {
    margin-top: -6rem;
    display: none;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}

#screen-2 .user-selection {
    position: absolute;
    z-index: 2;
    top: -50px;
    left: -5px;
    display: block !important;
}

#screen-2 .computer-selection {
    position: absolute;
    z-index: 2;
    top: -50px;
    right: -5px;
    display: block !important;
}

#screen-2 .rock-obj,
#screen-2 .paper-obj,
#screen-2 .scissors-obj {
    display: none;
}

.selection-rainbow {
    position: absolute;
    top: -125px;
    left: -33px;
}

.empty-selection {
    position: absolute;
    z-index: 1;
    top: -37px;
    right: 15px;
}

.house-status,
.user-status {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 1.875px;
}

.user-status {
    position: relative;
    bottom: -5rem;
    left: -5.3rem;
}

.house-status {
    position: relative;
    bottom: -1.1rem;
    right: -5.5rem;
}

.btn-play-again {
    background: linear-gradient(0deg, #F3F3F3 0%, #FFFFFF 100%);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
    border-radius: 8px;
    height: 48px;
    width: 220px;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    display: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.5px;
    color: #3B4262;
}

.info-box {
    position: absolute;
    margin-top: 22rem;
}

.you-win,
.you-lose,
.you-tie {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    /* line-height: 67px; */
    margin-bottom: 16px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
    display: none;
}

#rules-modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100vw;
    height: 100vh;
}

#rules-modal-content {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#rules-modal-content h1 {
    font-size: 2rem;
    color: #3B4262;
}

#rules-modal-content .rules-img {
    width: 80%;
    max-width: 420px;
}

#rules-modal-content .close-rules-img {
    width: 1.5rem;
}

@media screen and (min-width:1366px) {
    body {
        max-width: 1366px;
    }

    .score-area {
        width: 40%;
        border-radius: 15px;
        border: 3px solid rgba(255, 255, 255, 0.289199);
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .score-box {
        width: 150px;
        height: 114px;
    }

    .score-title {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 2.5px;
    }

    .score-value {
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 64px;
    }

    .paper-position {
        width: 198px;
        height: 203px;
        margin-top: -1rem;
        margin-left: 20rem;
    }

    .rock-position {
        width: 198px;
        height: 203px;
        margin-top: 2rem;
    }

    .scissor-position {
        width: 198px;
        height: 203px;
        margin-top: -1rem;
        margin-right: 20rem;
    }

    .show-rules-btn {
        width: 128px;
        height: 40px;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 2.5px;
        margin-left: 85rem;
    }

    .user-status {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 3px;
        color: #FFFFFF;
        text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
        margin-top: -18rem;
        margin-left: -30rem;
    }

    .house-status {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 3px;
        color: #FFFFFF;
        text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
        margin-top: 1rem;
        margin-right: -30rem;
    }

    #screen-2 .user-selection {
        margin-left: 6rem;
        margin-top: 4rem;
    }

    #screen-2 .computer-selection {
        margin-right: 6rem;
        margin-top: 4rem;
    }
    .selection-rainbow{
        margin-top: -4.5rem;
        margin-left: -6rem;
    }

    .empty-selection{
        margin-right: 8rem;
        margin-top: 5rem;
    }

    #screen-1 .game-obj:hover {
        outline: 15px solid rgba(255, 255, 255, 0.05);
        border-radius: 50%;
    }

    #rules-modal-content {
        width: 30vw;
        height: 50vh;
        border-radius: 8px;
        position: relative;
    }

    #rules-modal-content h1 {
        align-self: flex-start;
        padding-left: 3rem;
        order: 1;
    }
    
    #rules-modal-content .close-rules-img {
        order: 2;
        position: absolute;
        top: 3.8rem;
        right: 4rem;
    }

    #rules-modal-content .rules-img {
        width: 60%;
        order: 3;
    }
}